<h1 id="news">News!</h1>
<p>All notable changes to this project will be documented here.</p>
<h2 id="100-2020-01-11">1.0.0 (2020-01-11)</h2>
<h3 id="⚠-breaking-changes">⚠ BREAKING CHANGES</h3>
<ul>
<li>initial commit of project</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li>adds delete dist tags (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/4">#4</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/0cdbb692578856c48b2532d250f5bac8269f71ac">0cdbb69</a>)</li>
<li>generate tokens backed by GitHub releases as 2FA (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/10">#10</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/fee686f52f80a133e43f71a0aab7edc2207d0a20">fee686f</a>)</li>
<li>initial commit of project (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/8cf71353fa2efcf6a0859eee9d2e305885b0d5bd">8cf7135</a>)</li>
<li><strong>deps:</strong> update to latest and greatest @google-cloud/datastore (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/28">#28</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/5a2398f348ca96d821674fa23f52613b45f9c719">5a2398f</a>)</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>clean require 2fa (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/5">#5</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/c5a4fefe37f51302308948c4c81d662e867910f4">c5a4fef</a>)</li>
<li>fix self-xss from package name in manage tokens (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/464807f4c22bb212b5b4109394e72366b4368b81">464807f</a>)</li>
<li>fixes case where request may be drained twice (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/14">#14</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/8132fea6058c1b052cdf345cdd25338114327873">8132fea</a>)</li>
<li>logic bug when detecting initial publications (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/17">#17</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/3a0f32806050e54d413768c942bdc579c6abf97d">3a0f328</a>)</li>
<li>set x-frame-options to deny (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/3">#3</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/1a3ec1b4060e27a23e716972b8bf8051336bf32e">1a3ec1b</a>)</li>
<li><strong>deps:</strong> update dependency dotenv to v8 (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/25">#25</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/d9c8f4cb534e7cfbeb85afdabb8a9243b43ff5db">d9c8f4c</a>)</li>
<li><strong>deps:</strong> update dependency github-markdown-css to v3 (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/26">#26</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/a418c206ff6832af7755733f37b690e1bfb7b774">a418c20</a>)</li>
<li>upgrade to @otplib/core 12 (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/37">#37</a>) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/ff7484abf15aa03eba5087ec7708fbc7182af4aa">ff7484a</a>)</li>
</ul>
<h3 id="reverts">Reverts</h3>
<ul>
<li>Revert &quot;fix: upgrade to @otplib/core 12 (#37)&quot; (#38) (<a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/commit/2ca632c53360c70e78d8c0845f43d79de2bb23d2">2ca632c</a>), closes <a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/37">#37</a> <a href="https://www.github.com/GoogleCloudPlatform/wombat-dressing-room/issues/38">#38</a></li>
</ul>
<h2 id="004-2019-07-30">0.0.4 (2019-07-30)</h2>
<ul>
<li>support for fetching package metadata (used by learna).</li>
</ul>
<h2 id="003-2019-07-23">0.0.3 (2019-07-23)</h2>
<ul>
<li>support for <code>npm dist-tag</code>.</li>
</ul>
<h2 id="002-2019-05-15">0.0.2 (2019-05-15)</h2>
<ul>
<li>support for <code>npm deprecate</code>.</li>
</ul>
<h2 id="001-2019-04-25">0.0.1 (2019-04-25)</h2>
<ul>
<li>support for per package registry urls. no more login before every publish.</li>
</ul>
