<html>
  <head>
    <title>Wombat dressing room - {{title}}</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/github-markdown.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
