<article class="markdown-body">
  <div id="message">
    You're logged in as {{username}}.
    <a id="logout-link" href="javascript:void(0);">logout</a>
  </div>
  <h2>Actions</h2>
  <div>
    <a href="/_/manage-tokens">Manage tokens</a>
    <br />(Create and delete publish tokens)
  </div>
  {{> documentation}}
  <p>
    For information on new features, bugs fixes, and potential breaking changes please see the <a href="/changelog">changelog</a>.
  </p>
</article>
<script src="/app.js"></script>
