<div id="error"></div>
<article class="markdown-body">
  <div id="message">
    You're logged in as {{username}}.
    <a id="logout-link" href="javascript:void(0);">logout</a>
  </div>
  <a href="/" alt="return to home" class="navigation">Home</a>
  <h2>Manage tokens</h2>
  <div>
    <h3>Create token for package.</h3>
    <form name="create-token" action="#">
      <div>
        <label>Package name</label><br />
        <textarea
          name="package-name"
          value=""
          placeholder="package name or one package name per line"
        ></textarea
        ><br />
      </div>
      <input type="submit" value="Create token" />
      <div class="loading" style="display:none;">creating...</div>
    </form>
    <div id="created-tokens-display" style="display:none;">
      <h4>Recently created tokens:</h4>
      <div>
        <strong>Notice</strong>: these tokens will never be shown again.<br />creating
        multiple tokens without refreshing the page will keep adding them to
        this section to copy easily.
      </div>
      <a href="javascript:window.location.reload()">Clear all</a><br />
      <ul id="created-list"></ul>
    </div>
  </div>
  <div id="tokens-list">
    loading...
  </div>
</article>
<script src="/app.js"></script>
<script src="/manage-tokens.js"></script>
